{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block link %}{% static 'css/login.css' %}{% endblock %}
{% block content %}
    <div id="login-div">
        <p>LOGIN</p>
        <form method="POST" action="{% url 'user_login' %}">
            {% csrf_token %}
            <div>
                <input name="username" placeholder="아이디를 입력해주세요." type="text"><br>
                <input name="password" placeholder="비밀번호를 입력해주세요." type="password"><br>
            </div>
            <div>
                <button>로그인</button>
            </div>
        </form>
    </div>
{% endblock %}