{% extends 'base.html' %}
{% load static %}


{% block title %}Main{% endblock %}
    {% block content %}
    <main>
        <div>
            {% for product in products %}
                <a href="{% url 'detail' product.id %}">
                    <img src="{{ product.product_img.url }}" width="300px" height="300px">
                    <p>{{product.product_name}}</p>
                    <p>{{product.product_info}}</p>
                </a>
            {% endfor %}
        </div>
    </main>
    {% endblock %}