{% extends 'base.html' %}
{% load static %}


{% block title %}Main{% endblock %}
{% block link %}{% static 'css/home.css' %}{% endblock %}
    {% block content %}
    <main>
        <div id="main-div">
        {% for product in products %}
            <div class="product">
                <a href="{% url 'detail' product.id %}">
                    <img src="{{ product.product_img.url }}" width="250px" height="250px">
                    <div>
                        <p class="product-title">{{product.product_name}}</p>
                        <p class="product-info">{{product.product_info}}</p>
                    </div>
                </a>
            </div>
        
        {% endfor %}  
        </div>
    </main>
    {% endblock %}