<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <form method="POST" action="{% url 'update' product.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="product_img" type="file" value="{{product.product_img}}">
        <input name="product_name" type="text" value="{{product.product_name}}">
        <input name="product_info" type="text" value="{{product.product_info}}">
        <button>상품 등록</button>
    </form>
</body>
</html>